html {
	height: 100%;
}
body {
	height: 100%;
}
#wrap {
	margin: 0px auto -60px; padding: 0px 0px 60px; height: auto; min-height: 100%;
}
#footer {
	height: 60px; background-color: rgb(245, 245, 245);
}
#wrap > .container {
	padding: 60px 15px 0px;
}
.container .text-muted {
	margin: 20px 0px;
}
#footer > .container {
	padding-right: 15px; padding-left: 15px;
}
code {
	font-size: 80%;
}
